body {
    margin: 0;
    padding: 0;
    font-family: sans
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none
}
.wrap {

}
.columns {
    width: 100%
}
.column {
    float: left;
    height: 100%
}
.column > div, .column > h1, column > ul {
    margin-left: 3rem;
    padding: 0
}
.column.left {
    width: 30%;
    background: #bbb
}
.column.right {
    width: 70%;
    background: beige
}

/* Menu */
.column.left .site-title {
    
}
.column.left .site-title .name {
    color: gray
}
ul.menu {
    padding: 0;
    margin: 3rem;
    font-size: 1.2em
}
ul.menu li {
    list-style: none;
        margin: 1em 0 1em 0;
}
.book {

}
.book img {
    width: 160px;
}
.book .forthcoming {
    color: beige;
    margin: 0;
}
.book .book-title {

    font-weight: bold;
    margin: 0
}
.book .book-subtitle {

    margin: 0
}
.book .book-title a, .book .book-subtitle a {
    color: #555
}
.copyright {
    margin-top: 3rem;   
}

/* Content */

.column .content {
    max-width: 90%;
    width: 50%;
    margin-left: 25%;
    margin-top: 30%;
    font-size: 1.2em
}
ul.nav {

}
ul.nav li {
    display: inline-block;
    font-weight: bold;
    font-size: 2em

}
ul.nav li.right {
}
ul.tags {
    display: inline-block;
}
ul.tags li {
    display: inline-block;
}
